{% extends "layout.twig" %}

{% block content %}
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
        </tr>
        </thead>
        <tbody>
        {% for prato in pratos %}
        <tr>
            <td>{{ prato.descricao }}</td>
            <td>{{ prato.preco }}</td>
        </tr>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Não há cardápio hoje! :'(
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}