{% extends "layout.twig" %}
{% block content %}
    <style>
        .iniciarbtn {
            cursor: pointer;
        }
    </style>
    <div class="pt-5 text-white bg-default">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-left text-center align-self-center my-5">
                    <h1 class="display-1">App Rodízio</h1>
                    <p class="lead">O jeito fácil de agradar clientes.</p>
                    <div class="row mt-5">
                        <div class="col-md-5 col-6">
                            <button type="submit" onclick="location.href='/sugestao'" class="iniciarbtn btn btn-light ml-3">Iniciar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid d-block mx-auto" src="/img/iphone_cover.png"> </div>
            </div>
        </div>
    </div>
{% endblock %}