<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    {#<link rel="stylesheet" href="/css/theme.css" type="text/css">#}
    <link rel="stylesheet" href="/css/meu.css" type="text/css">
</head><body>
<nav class="navbar navbar-expand-md bg-info navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path_for('home') }}">:)</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="btn navbar-btn btn-dark ml-2 text-white" href="{{ path_for('sugestao') }}">Fazer uma Sugestão</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path_for('cardapio') }}">Cardápio</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% include 'mensagem.twig' %}
    {% block content %}{% endblock %}
</div>
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bo/otstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>#}
<script src="/js/functions.js"></script>
<script src="/js/post.js"></script>
</body></html>