{% extends "layout.twig" %}

{% block content %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card text-white p-5 bg-info">
                        <div class="card-body">
                            <h1 class="mb-4">Sugestão</h1>
                            <form action="" method="post">
                                <div class="form-group"><label>Descrição da sua sugestão</label>
                                    <input id="inputSugestao" name="descricao" type="text" class="form-control"
                                           placeholder="Algo assim.. Bom dia, gostaria de pedir blablabla...">
                                </div>
                                <div class="form-group"><label class="form-control-label">Mesa<br></label>
                                    <select id="inputMesa" name="mesa" class="form-control">
                                        {% for mesa in mesas %}
                                            <option value="{{ mesa.id }}">{{ mesa }}</option>
                                        {% endfor %}
                                    </select></div>
                                <button type="submit" class="btn btn-secondary enviarSugestao">Enviar sugestão<br></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}