<html>
<body>
<form method="post">
    <input name="texto" type="text"/>
    <input name="texto_semdoctrine" type="text"/>
    <input type="submit" />
</form>
<pre>
<?php isset($exemplo) ? print_r($exemplo) : null ?>
</pre>
<ul>
    <?php /** @var \Src\Model\Entity\Exemplo $item */ foreach ($lista as $item) : ?>
    <li><?= $item->getDescricao() ?></li>
    <?php endforeach ?>
</ul>
</body>
</html>