{% extends "admin/layout.twig" %}

{% block content %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-6">
                    <div class="card text-white p-5 bg-info">
                        <div class="card-body">
                            <h1 class="mb-4">Sign in</h1>
                            <form method="post">
                                <div class="form-group"> <label>Login</label>
                                    <input type="text" class="form-control" name="login"></div>
                                <div class="form-group"> <label>Password</label>
                                    <input type="password" class="form-control" name="pass"></div>
                                <button type="submit" class="btn btn-secondary cursor-pointer">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}