{% extends "admin/layout.twig" %}

{% block content %}
    <form action="" method="">
        <input type="hidden" id="token" value="{{ token }}">
        <input type="hidden" name="id" value="">
        <div class="form-group">
            <label for="exampleInputEmail1">Número</label>
            <input id="inputNumero" type="text" class="form-control" name="numero" placeholder="Identificador da mesa">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Quantidade assentos</label>
            <input id="inputAssentos" type="text" class="form-control" name="assentos">
        </div>
        <button id="button" type="submit" class="btn btn-success enviarMesa">Salvar</button>
    </form>
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" style="display:none;" ></th>
            <th scope="col" ></th>
            <th scope="col">Número</th>
            <th scope="col">Quantidade de acentos</th>
        </tr>
        </thead>
        <tbody>
        {% for mesa in mesas %}
            <tr onclick=carregarMesa({{ mesa.id }})>
                <td><button onclick=deletarMesa({{ mesa.id }}) class="btn btn-success">Excluir</button></td>
                <td style="display:none;" id="iditem">{{ mesa.id }}</td>
                <td>{{ mesa.numero }}</td>
                <td>{{ mesa.assentos }}</td>

            </tr>
        {% else %}
            <div class="alert alert-info" role="alert">
                Nenhuma mesa cadastrada
            </div>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function carregarMesa(mesaId) {
            var url = "/api/mesa/"+mesaId;

            $.getJSON(url, function(result){
                $.each(result, function(i, field){
                    if (i == "assentos"){
                        $('#inputAssentos').val(field);
                    }
                    if (i == "numero"){
                        $('#inputNumero').val(field);
                    }
                });
                sessionStorage.setItem("id",mesaId);
            });
        }
    </script>
{% endblock %}