{% extends "admin/layout.twig" %}

{% block content %}
    <form action="" method="">
        <input type="hidden" id="token" value="{{ token }}">
        <input type="hidden" name="id" value="">
        <div class="form-group">
            <label for="exampleInputEmail1">Descrição</label>
            <input id="inputDescricao" type="text" class="form-control" name="descricao" placeholder="Descrição do prato">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Preço</label>
            <input id="inputPreco" type="text" class="form-control" name="preco">
        </div>
        <button type="submit" class="btn btn-success enviarPrato">Salvar</button>
    </form>
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" style="display:none;" ></th>
            <th scope="col" ></th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
        </tr>
        </thead>
        <tbody>
        {% for prato in pratos %}
            <tr id="{{ prato.id }}" onclick=carregarPrato({{ prato.id }})>
                <td><button onclick=deletarPrato({{ prato.id }}) class="btn btn-success">Excluir</button></td>
                <td style="display:none;" id="iditem">{{ prato.id }}</td>
                <td>{{ prato.descricao }}</td>
                <td>{{ prato.preco }}</td>
            </tr>
        {% else %}
            <div class="alert alert-info" role="alert">
                Nenhum prato cadastrado
            </div>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function carregarPrato(pratoId) {
            var url = "/api/prato/"+pratoId;

            $.getJSON(url, function(result){
                $.each(result, function(i, field){

                    if (i == "descricao"){
                        $('#inputDescricao').val(field);
                    }
                    if (i == "preco"){
                        $('#inputPreco').val(field);
                    }
                });
                sessionStorage.setItem("id",pratoId);
            });
        }
    </script>
{% endblock %}