{% extends "admin/layout.twig" %}

{% block content %}
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Mesa</th>
        </tr>
        </thead>
        <tbody>
            {% for sugestao in sugestoesEnviadas %}
                <tr>
                    <td>{{ sugestao.descricao }}</td>
                    <td>{{ sugestao.mesa }}</td>
                </tr>
            {% else %}
                <div class="alert alert-info" role="alert">
                    Ninguem enviou uma sugestão :'(
                </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}